<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title> Thneyti API Key </title>
    <link rel="shortcut icon" type="image/png" href="/images/logo.png"/>

</head>
<div> 
<body style="
background-image: url('/images/test1.jpg');
background-repeat: no-repeat;
 background-position: 0px 0px;
 background-size: 1500px 800px;
 background-attachment:scroll;
 width: 1349.5px;
 height: 300px;
 position:fixed;
font-size: 17px; 
font-family:-apple-system,system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;">

  <a style="
  opacity:0.8;
  text-decoration: none;
  position:absolute;
   left:10px;
   padding-bottom: 660px;
   opacity:1;" href="dashboard"> <img src="/images/logo.png" style=" position:absolute;
   top:2px;"width="100px" />
   <nobr id="titre" style="color:rgb(212, 60, 106); 
   font-size: 50px;
   position:absolute;
   top:0px;
   opacity:1;
   left:100px;"> Thneyti </nobr>
   </a>
   <a href="api">
   <button style="
   background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
   border: 0;
   border-radius: 12px;
   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   font-family: -apple-system,system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;
   font-size: 16px;
   padding:10px;
 position:absolute; 
 left:1180px; 
 top:15px;
 font-size:17px;
 font-weight: bold;
   font-weight: 500;
   line-height: 2.5;
   outline: transparent;
   padding: 0 1rem;
   text-align: center;
   text-decoration: none;
   transition: box-shadow .2s ease-in-out;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   "> API </button> </a>
   <a href="base">
   <button style="
   background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
   border: 0;
   border-radius: 12px;
   color: #FFFFFF;
   cursor: pointer;
   display: inline-block;
   font-family: -apple-system,system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;
   font-size: 16px;
   padding:10px;
 position:absolute; 
 left:1250px; 
 top:15px;
 font-size:17px;
 font-weight: bold;
   font-weight: 500;
   line-height: 2.5;
   outline: transparent;
   padding: 0 1rem;
   text-align: center;
   text-decoration: none;
   transition: box-shadow .2s ease-in-out;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
   white-space: nowrap;
   "> Log out </button> </a>
 <br> <br> <br> <br> <br>
   <div style="border-style: solid white;
   padding-top:20px;
   padding-left:50px;
   padding-right:800px;
   padding-bottom: 28px;
   border-radius: 20px; 
   margin-right: 20px;
   background-color: white;
   opacity: 0.9;
   position:absolute;
   width: 450px;
   right:100px; 
   left:15px;" > <nobr style="font-weight: bold;">Your API Secret Key : </nobr> <br> <nobr style="padding-right:20px; font-size: 12.5px;"> <%= token %> </nobr> <br><br> <nobr style="font-weight: bold; color:rgb(207, 44, 44);"> This Api Key expires in 20 Minutes (1200s) </nobr>
     <br> <br> <br> 
     <form method="GET" action="/route/authh2">
     <button style=" cursor: pointer;
     outline: none;
     border: none;
     background-color: #313331;
     padding: 0.3em 1.2em;
     border-radius: 30px;
     font-size: 17px;
     font-weight: 550;
     color: #ffffff;
     background-size: 100% 100%;
     box-shadow: 0 0 0 4px #363836 inset;" type="submit" > Generate new Key </button> </form></div>
 


<a href="dashboard">
    <button style="
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    padding:10px;
  position:absolute; 
  font-size:17px;
  font-weight: bold;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    top:350px;
    left:60px;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    "> Go Back </button> 

<footer class="footer" style="font-weight: bold;
position: fixed;
margin-bottom:0; 
left:0;
background-color:black;
top:610px;
margin-left: 0;
padding-left:480px;
padding-right:509px;
width:400px;
opacity:0.8;">
              <p style="color:lightgrey;
              font-size:18px;"> Project By Sarra Koussaier Junior IT/BA @TBS </p>

      </footer>
    </body>
</div>
</html>