<!DOCTYPE html>
<html>
<head> 
<link rel="stylesheet" href="welcome.css"> 
<title> Sign Up to Thneyti - Real-Time Tunisian Transportation guide REST API </title>
<link rel="shortcut icon" type="image/png" href="/images/logo.png"/>
<title>  </title>
</head>
<body style="background-image: url('/images/signup.jpg');
 font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 600px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">

<div id="div1" style=" border-style: solid white;
padding-top:20px;
padding-left:50px;
padding-right:60px;
padding-bottom: 28px;
border-radius: 20px; 
margin-right: 20px;
background-color: white;
max-width: 280px;
margin: auto; 
opacity: 0.8;
position: absolute;
top:100px;
left:500px">
<img src="/images/logo.png" style=" position:absolute;
top:2px; 
padding-left:80px;
padding-top: 10px;"width="70px" /> <br>
<h1 style="font-size:30px;"> Sign Up to Thneyti</h1>  

<form method="post" action="/route/signup" name="form">  

    <label>Username</label> <br>
    <input type="name" name="username"  placeholder="Please enter a username" size="30px" style="padding:4px 10px;"> <br>

    
    <label> Password </label>  <br>
    <input type="password" name="password" placeholder="Please enter a password" id="pw" size="30px" style="padding:4px 10px;" >  <br>

</datalist> <br> 


<button type="submit" style="
background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
border: 0;
border-radius: 12px;
color: #FFFFFF;
cursor: pointer;
display: inline-block;
font-family: -apple-system,system-ui,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 2.5;
outline: transparent;
padding: 0 1rem;
text-align: center;
text-decoration: none;
margin-left:90px;
transition: box-shadow .2s ease-in-out;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: nowrap;
" name ="submit" id="button"> Sign up </button> <br> <br>
<class style="font-size: 14px"> Already have an account? <a href="login">Log in</a> </class>
</form>  
</div> 
<footer class="footer" style="font-weight: bold;
    position: absolute;
    bottom:0; 
    background-color:black;
    left:0px;
    padding-left:470.5px;
    padding-right:509px;
    opacity:0.8;">
                  <p style="color:lightgrey;
                  font-size:18px;"> Project By Sarra Koussaier Junior IT/BA @TBS </p>

          </footer>
         
</body> 
</html>